<html>
<head>
	<title>{{header.title}}</title>
	<link rel='stylesheet' href='{{header.modulepath}}/css/main.css'/>
</head>
<body>
<header>
	<h1>{{header.title}}</h1>
	<a href="/" class="homepage-btn"></a>
	<nav>
		<ul>
			<li class="lang-choice" data-lang="{{header.lang}}">
				{{#header.locales}}
					<a class="lang-{{this}}" href="{{../header.modulepath}}/definepwd?lang={{this}}">
						<img src="{{../header.modulepath}}/img/lang_{{this}}.png"/>
					</a>
				{{/header.locales}}
			</li>
			{{#header.menu}}
				<li><a href="{{path}}">{{label}}</a></li>
			{{/header.menu}}
		</ul>
	</nav>
</header>
<section class="page-content">
	{{#if confirm}}
		<p>{{confirm}}</p>
	{{else}}
		<form method="post" action="definepwd">
			{{#error}}
				<div class="error">
					{{this}}
				</div>
			{{/error}}
			<p>{{texts.define_new_password}}</p>
			<dl>
				<dd><input type="hidden" name="key" value="{{form.key}}" /></dd>
				<dt>{{texts.password}}</dt>
				<dd><input type="password" name="password" value="{{form.password}}" required /></dd>
				<dt>{{texts.password_confirm}}</dt>
				<dd><input type="password" name="password_confirm" value="{{form.password_confirm}}" required /></dd>
			</dl>
			<button type="submit">{{texts.save}}</button>
		</form>
	{{/if}}
	<p><a href="{{header.modulepath}}/login">{{texts.back_to_login}}</a></p>
</section>
</body>
</html>