<html>
<head>
	<title>{{header.title}}</title>
	<link rel='stylesheet' href='{{header.modulepath}}/css/main.css'/>
</head>
<body>
<header>
	<h1>{{header.title}}</h1>
	<a href="/" class="homepage-btn"></a>
	<nav>
		<ul>
			<li class="lang-choice" data-lang="{{header.lang}}">
				{{#header.locales}}
					<a class="lang-{{this}}" href="{{../header.modulepath}}/forgotpwd?lang={{this}}">
						<img src="{{../header.modulepath}}/img/lang_{{this}}.png"/>
					</a>
				{{/header.locales}}
			</li>
			{{#header.menu}}
				<li><a href="{{path}}">{{label}}</a></li>
			{{/header.menu}}
		</ul>
	</nav>
</header>
<section class="page-content">
	{{#if confirm}}
		<p>{{confirm}}</p>
	{{else}}
		<form method="post" action="forgotpwd">
			{{#error}}
				<div class="error">
					{{this}}
				</div>
			{{/error}}
			<dl>
				<dt>{{texts.text_forgot_pwd}}</dt>
				<dd><input type="email" name="email" value="{{form.email}}" required /></dd>
			</dl>
			<button type="submit">{{texts.send}}</button>
		</form>
	{{/if}}
	<p><a href="{{header.modulepath}}/login">{{texts.back_to_login}}</a></p>
</section>
</body>
</html>