<html>
<head>
	<title>{{header.title}}</title>
	<link rel='stylesheet' href='{{header.modulepath}}/css/main.css'/>
</head>
<body>
<header>
	<h1>{{header.title}}</h1>
	<a href="/" class="homepage-btn"></a>
	<nav>
		<ul>
			<li class="lang-choice lang-{{header.lang}}">
				{{#header.locales}}
					<a class="lang-{{this}}" href="{{../header.modulepath}}?lang={{this}}">
						<img src="{{../header.modulepath}}/img/lang_{{this}}.png"/>
					</a>
				{{/header.locales}}
			</li>
			{{#header.menu}}
				<li><a href="{{path}}">{{label}}</a></li>
			{{/header.menu}}
		</ul>
	</nav>
</header>
<section class="page-content">
	{{#if user}}
		<p>{{texts.welcome}} {{user.name}}. {{texts.you_are_logged_in}}</p>
		{{#if loginfrom}}
			<p><a href="{{loginfrom}}">{{texts.back_to_previous_page}}</a></p>
		{{/if}}
	{{else}}
		<a href="{{header.modulepath}}/login">{{texts.login_link}}</a> {{texts.or}}
		<a href="{{header.modulepath}}/register">{{texts.register_link}}</a>
		{{texts.to_use_all_website}}
	{{/if}}

</section>
</body>
</html>