<html>
<head>
	<title>{{header.title}}</title>
	<link rel='stylesheet' href='{{header.modulepath}}/css/main.css'/>
</head>
<body>
<header>
	<h1>{{header.title}}</h1>
	<a href="/" class="homepage-btn"></a>
	<nav>
		<ul>
			<li class="lang-choice lang-{{header.lang}}">
				{{#header.locales}}
					<a class="lang-{{this}}" href="{{../header.modulepath}}?lang={{this}}">
						<img src="{{../header.modulepath}}/img/lang_{{this}}.png"/>
					</a>
				{{/header.locales}}
			</li>
			{{#header.menu}}
				<li><a href="{{path}}">{{label}}</a></li>
			{{/header.menu}}
		</ul>
	</nav>
</header>
<section class="page-content">
	{{#error}}
		<div class="error">
			{{this}}
		</div>
	{{/error}}
	<ul class="users-list">
	{{#users}}
		<li>
			<div><b>{{numero}}. {{username}} ({{roles}})</b></div>
			<div>Inscrit le <b>{{creationdate}}</b></div>
			<div>Vu le <b>{{lastvisit}}</b></div>
		</li>
	{{/users}}
	</ul>
</section>
</body>
</html>