<html>
<head>
	<title>{{header.title}}</title>
	<link rel='stylesheet' href='{{header.modulepath}}/css/main.css'/>
</head>
<body>
<header>
	<h1>{{header.title}}</h1>
	<a href="/" class="homepage-btn"></a>
	<nav>
		<ul>
			<li class="lang-choice" data-lang="{{header.lang}}">
				{{#header.locales}}
					<a class="lang-{{this}}" href="{{../header.modulepath}}/login?lang={{this}}">
						<img src="{{../header.modulepath}}/img/lang_{{this}}.png"/>
					</a>
				{{/header.locales}}
			</li>
			{{#header.menu}}
				<li><a href="{{path}}">{{label}}</a></li>
			{{/header.menu}}
		</ul>
	</nav>
</header>
<section class="page-content">
<form method="post" action="login">
	{{#error}}
		<div class="error">
			{{this}}
		</div>
	{{/error}}
	<dl>
		<dt>{{texts.username}}</dt>
		<dd><input type="text" name="username" value="{{form.username}}" /></dd>
		<dt>{{texts.password}}</dt>
		<dd><input type="password" name="password" value="{{form.password}}" /></dd>
	</dl>
	<button type="submit">{{texts.login}}</button>
	<p><a href="{{header.modulepath}}/register">{{texts.do_not_have_an_account}}</a></p>
	<p><a href="{{header.modulepath}}/forgotpwd">{{texts.forgot_pwd}}</a></p>
</form>
</section>
</body>
</html>