body {
	padding:50px;
	font:14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color:#00b7ff;
}

dt{
	margin-top:4px;
	font-weight:bold;
}
dd{
	margin-left:20px;
}

.error-message{
	padding:6px;
	border:1px solid #f00;
	color:#f00;
	background-color:#ffddd8;
}