body {
  font-family: Arial;
  font-size: 14px;
}
body,
ul,
li,
h1 {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
header {
  margin-bottom: 20px;
  color: #fff;
  background: linear-gradient(to bottom, #214373, #335b85, #33648e, #214373);
  box-shadow: 0 2px 2px #666;
}
header h1 {
  margin: 0 0 0 34px;
  height: 40px;
  font-size: 19px;
  text-shadow: 2px 2px 5px #000;
  line-height: 40px;
}
header .homepage-btn {
  position: absolute;
  top: 9px;
  left: 5px;
  padding: 3px;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background: url(../img/home.png) no-repeat center center #222e47;
}
header nav ul {
  position: relative;
  height: 20px;
}
header nav ul li {
  float: left;
  margin: 0 4px;
}
header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
header nav ul li.lang-choice {
  padding: 2px 4px;
}
.error {
  color: red;
}
.page-content {
  margin: 50px 10px;
}
.page-content a {
  color: #c48f1e;
}
.users-list li {
  margin: 6px 0;
  padding: 2px 4px;
  border: 1px solid #bbb;
}
